# Import libraries

In [1]:
import pandas as pd

# Load data

In [2]:
path = r'./in/Case_Mailing_2022.csv'
df = pd.read_csv(path, sep=';', decimal=',')

# Column description

*   ZIP_CODE -> *Postleitzahl*
*   DAYS_SINCE_PURCHASE -> *Tage seit Kaufdatum*
*   PURCHASE_VISITS -> *Anzahl der Kaufbesuche*
*   TOTAL_NET_SALES -> *Gesamtnettoumsatz*
*   CC_CARD -> *Kreditkartenbenutzung*
*   AVE_AMOUNT_SPENT -> *Durchschnittlicher Betrag, der pro Besuch ausgegeben wird*
*   AMSPEND -> *im Franchise AM ausgegebener Betrag*
*   PSSPEND -> *im Franchise PS ausgegebener Betrag*
*   CCSPEND -> *im Franchise CC ausgegebener Betrag*
*   AXSPEND -> *im Franchise AX ausgegebener Betrag*
*   OMONSPEND -> *im letzten Monat ausgegebener Betrag*
*   TMONSPEND -> *in den letzten drei Monaten ausgegebener Betrag*
*   SMONSPEND -> *in den letzten sechs Monaten ausgegebener Betrag*
*   PREVPD -> *im gleichen Zeitraum des letzten Jahres ausgegebener Betrag*
*   GMP -> *Prozentsatz der Bruttomarge*
*   PROMOS -> *Anzahl der gespeicherten Marketingaktionen*
*   DAYS -> *Anzahl der Tage, in denen der Kunde registriert war*
*   FREDAYS -> *Anzahl der Tage zwischen den Käufen*
*   MARKDOWN -> *Abschlagsprozentsatz auf Kundenkäufe*
*   CLASSES -> *Anzahl der gekauften unterschiedlichen Produktklassen*
*   COUPONS -> *Anzahl der vom Kunden verwendeten Coupons*
*   STYLES -> *Gesamtzahl der vom Kunden gekauften Einzalartikel*
*   STORES -> *Anzahl der Geschäfte, in denen der Kunde eingekauft hat*
*   VALPHON -> *gültige Telefonnummer hinterlegt*
*   WEB -> *WEB-Shopper*
*   MAILED -> *Anzahl der im vergangenen Jahr verschickten Werbeaktionen*
*   RESPONDED -> *Anzahl der Werbeaktion, auf die im vergangenen Jahr reagiert wurde*
*   RESPONSERATE -> *Aktionsrücklauf für das vergangene Jahr*
*   HI -> *Produkteinheitlichkeit (niedriger Wert = unterschiedlicher Ausgabemuster)*
*   LTFREDAY -> *Lebenslage durchschnittliche Zeit zwischen Besuchen*
*   CLUSTYPE -> *Clusterzugehörigkeit*
*   PERCRET -> *Prozentsatz an Rückläufern*
*   RESP -> *Reaktion auf Promo*

# EDA

In [3]:
print('Shape: ')
print(df.shape)
print('----------')
print('Info: ')
print(df.info())
print('----------')

Shape:
(21740, 33)
----------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21740 entries, 0 to 21739
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ZIP_CODE             21740 non-null  object
 1   DAYS_SINCE_PURCHASE  21740 non-null  int64
 2   PURCHASE_VISITS      21740 non-null  int64
 3   TOTAL_NET_SALES      21740 non-null  float64
 4   CC_CARD              21740 non-null  int64
 5   AVE_AMOUNT_SPENT     21740 non-null  float64
 6   AMSPEND              21740 non-null  float64
 7   PSSPEND              21740 non-null  float64
 8   CCSPEND              21740 non-null  float64
 9   AXSPEND              21740 non-null  float64
 10  TMONSPEND            21740 non-null  float64
 11  OMONSPEND            21740 non-null  float64
 12  SMONSPEND            21740 non-null  float64
 13  PREVPD               21740 non-null  float64
 14  GMP                  21740 non-null  float64
 15  PROMOS               21740 non-null  int64
 16  DAYS                 21740 non-null  int64
 17  FREDAYS              21740 non-null  float64
 18  MARKDOWN             21740 non-null  float64
 19  CLASSES              21740 non-null  int64
 20  COUPONS              21740 non-null  int64
 21  STYLES               21740 non-null  int64
 22  STORES               21740 non-null  int64
 23  VALPHON              21740 non-null  int64
 24  WEB                  21740 non-null  int64
 25  MAILED               21740 non-null  int64
 26  RESPONDED            21740 non-null  int64
 27  RESPONSERATE         21740 non-null  float64
 28  HI                   21740 non-null  float64
 29  LTFREDAY             21740 non-null  float64
 30  CLUSTYPE             21740 non-null  object
 31  PERCRET              21740 non-null  float64
 32  RESP                 21740 non-null  int64
dtypes: float64(17), int64(14), object(2)
memory usage: 5.5+ MB
None
----------

In [4]:
print('Head: ')
df.head(5)

Head:

,ZIP_CODE,DAYS_SINCE_PURCHASE,PURCHASE_VISITS,TOTAL_NET_SALES,CC_CARD,AVE_AMOUNT_SPENT,AMSPEND,PSSPEND,CCSPEND,AXSPEND,...,VALPHON,WEB,MAILED,RESPONDED,RESPONSERATE,HI,LTFREDAY,CLUSTYPE,PERCRET,RESP
0,ZIP_1001,208,2,368.46,0,184.23,0.0,0.0,368.46,0.0,...,0,0,5,0,0.0000,0.3181,111.00,Cluster_10,0.000000e+00,0
1,ZIP_1028,6,4,258.00,1,64.50,0.0,0.0,258.00,0.0,...,1,0,4,2,0.5000,0.3272,43.50,Cluster_10,3.000000e-08,1
2,ZIP_1056,327,2,77.00,0,38.50,0.0,0.0,77.00,0.0,...,0,0,4,0,0.0000,1.0000,68.60,Cluster_16,0.000000e+00,0
3,ZIP_1118,66,8,846.06,1,105.75,0.0,0.0,846.06,0.0,...,1,0,9,6,0.6667,0.2327,26.96,Cluster_10,0.000000e+00,0
4,ZIP_1107,49,1,87.44,0,87.44,0.0,0.0,87.44,0.0,...,1,0,0,0,0.0000,0.2852,24.50,Cluster_20,0.000000e+00,0

# Data preparation

In [5]:
# Create new 'prepared' df
df_clean = df.copy()

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21740 entries, 0 to 21739
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ZIP_CODE             21740 non-null  object
 1   DAYS_SINCE_PURCHASE  21740 non-null  int64
 2   PURCHASE_VISITS      21740 non-null  int64
 3   TOTAL_NET_SALES      21740 non-null  float64
 4   CC_CARD              21740 non-null  int64
 5   AVE_AMOUNT_SPENT     21740 non-null  float64
 6   AMSPEND              21740 non-null  float64
 7   PSSPEND              21740 non-null  float64
 8   CCSPEND              21740 non-null  float64
 9   AXSPEND              21740 non-null  float64
 10  TMONSPEND            21740 non-null  float64
 11  OMONSPEND            21740 non-null  float64
 12  SMONSPEND            21740 non-null  float64
 13  PREVPD               21740 non-null  float64
 14  GMP                  21740 non-null  float64
 15  PROMOS               21740 non-null  int64
 16  DAYS                 21740 non-null  int64
 17  FREDAYS              21740 non-null  float64
 18  MARKDOWN             21740 non-null  float64
 19  CLASSES              21740 non-null  int64
 20  COUPONS              21740 non-null  int64
 21  STYLES               21740 non-null  int64
 22  STORES               21740 non-null  int64
 23  VALPHON              21740 non-null  int64
 24  WEB                  21740 non-null  int64
 25  MAILED               21740 non-null  int64
 26  RESPONDED            21740 non-null  int64
 27  RESPONSERATE         21740 non-null  float64
 28  HI                   21740 non-null  float64
 29  LTFREDAY             21740 non-null  float64
 30  CLUSTYPE             21740 non-null  object
 31  PERCRET              21740 non-null  float64
 32  RESP                 21740 non-null  int64
dtypes: float64(17), int64(14), object(2)
memory usage: 5.5+ MB

In [7]:
# Remove prefix from ZIP_CODE column
df_clean["ZIP_CODE"] = df_clean["ZIP_CODE"].apply(lambda x:x.split("_")[1])

# Export df_clean

In [8]:
path = r'./out/df_clean.csv'
df_clean.to_csv(path, sep=';', decimal=',', index=False)